.main-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

body {
    background-image: url('../../img/corina-rainer-P2wLo_PzHjU-unsplash.jpg');
}

h1 {
    font-size: 200px;
    margin-top: 100px;
    color: #d31a38;
    margin-left: 50px;
}